{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
<link rel="stylesheet" href="http://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
    <script src="https://use.fontawesome.com/ef2b815f8c.js"></script>
    <script src="http://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="http://openlayers.org/en/v3.20.1/build/ol.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://unpkg.com/@turf/turf@3.5.2/turf.min.js"></script>
    <link rel="stylesheet" type="text/css" href=  "/static/css/ion.rangeSlider.css" />
    <link rel="stylesheet" type="text/css" href=  "/static/css/ion.rangeSlider.skinNice.css" /> 
<script type="text/javascript" src="/static/js/ion.rangeSlider.min.js"></script>
  <script type = "text/javscript" src = "/static/js/html2canvas.js"></script>
		
  </head>

<body>
  <div class="wrapper">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'app.views.home' %}">NISSL ANNOTATION</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="{% url 'app.views.home' %}">Home</a></li>
            <li><a href="/annotate/help/">Help</a></li>
            <li><a href="/annotate/contact/">Contact</a></li>
          </ul>
          {% block nav_user %}
            {% if user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li id="nav-username"><a href="{% url 'app.views.profile' %}">
                  <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
                </li>
                <li>
                  <a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a>
                </li>
              </ul>
            {% endif %}
          {% endblock %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
{% block content %}
{% endblock %}

  </div> <!-- wrapper -->

  <div id="page-footer">
	<div class="container">
	  <footer>
		<hr />
		<p>(c) 2017, The Mouse Brain Architecture Project</p>
	  </footer>
    </div>
  </div>

  {% bootstrap_javascript jquery=True %}
</body>
</html>
